.countdown-section, .countdown-amount{
    margin-right: 0.3em;
}
.form-settings {
    padding: 15px;
    margin: 0 auto;
}
.form-settings .form-signup-heading,
.form-settings {
    margin-bottom: 10px;
}
.form-settings .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-settings .form-control:focus {
    z-index: 2;
}
.form-settings input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.alignleft {
    float: left;
}
.settings-input {
    margin-bottom: 10px;
}
.repeatVal {
    display: inline;
    width: 20%;
    border: solid 2px;
}
.repeatDiv {
    margin-top: 10px;
    margin-bottom: 10px;
}
.repeatUnitsDrop {
    display: inline;
    width: 35%;
    border: solid 2px;
    margin-left: 5px;
}
.scheduleExerciseNameInput {
    border: solid 2px;
}
.intervalVal {
    display: inline;
    width: 20%;
    border: solid 2px;
}
.intervalDiv {
    margin-top: 10px;
    margin-bottom: 10px;
}
.intervalUnitsDrop {
    display: inline;
    width: 35%;
    border: solid 2px;
    margin-left: 5px;
}
#inputPassword {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#inputPasswordConfirm {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
