body {
    padding-top: 90px;
    padding-bottom: 40px;
    background-color: #eee;
}
#topNav {
    border: none; /* 1px solid transparent */
    margin-bottom: 0px; /* 20px */
}
#topNav > .navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
#topNav > .navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}
#topNav > .navbar-nav > li:not(.active) > a {
    padding-top: 15px;
    padding-bottom: 15px;
    color:#CCCCCC;
}
#topNav > .navbar-nav > li.active > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
#topNav > .nav > .active{
    color:#007BFF;
    border-bottom: 10px solid #007BFF;
}

#bottomNav > .navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
#bottomNav > .navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}

@media (max-width: 768px) {
    body {
        padding-top: 90px;
    }
}

@media (max-width: 549px) {
    body {
        padding-top: 110px;
    }
}
