p.list-group-item-text {
  font-style: italic;
}

div.youtube-vid > iframe {
  display: block;
  width: 100%;
  height: 50%;
  border: none;
}

ul.modal-ul > li {
  font-size: 16;
}

textarea {
  display: block;
  width: 100%;
  border: solid 2px;
  resize: none;
}

.timeDeets {
  display: inline;
  width: 20%;
  border: solid 2px;
}

.timeDiv {
  margin-top: 10px;
}

.timeDrop {
  display: inline;
  width: 35%;
  border: solid 2px;
  margin-left: 5px;
}
