body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
}
#topNav {
    border: none; /* 1px solid transparent */
    margin-bottom: 0px; /* 20px */
}
#topNav > .navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
#topNav > .navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}
#topNav > .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
#topNav > .nav > .active{
  color:red;
  border-bottom: 5px solid red;
}

#bottomNav > .navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
#bottomNav > .navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}
